<div class="d-flex flex-column justify-content-center align-items-center pt-5">
    <h1 class="">Welcome</h1>
    <h3>Special News site with Devise and Bootstrap</h3>
    <%= link_to "Go to Nius", nius_path, class: "btn btn-lg btn-primary rounded-pill" %>
</div>
