<h1 class='text-primary'>Editing niu</h1>
<%= render "form" %>
<br>
<div>
  <%= link_to "Nius", nius_path, class: 'btn btn-outline btn-sucess' %>
  <%= link_to "Show", @niu, class: 'btn btn-outline btn-primary' %>  
</div>
