<h1 class="text-primary">Nius</h1>
<div id="nius" class="card-deck">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% @nius.each do |niu| %>
      <%= render partial: 'niu_index', locals: { :niu => niu } %>    
    <% end %>
  </div>
</div>  
<% if current_nius_user  %>
  <p class="py-1">
    <%= link_to "New niu", new_niu_path, class: 'btn btn-outline-success' %>
  </p>    
<% end %>